body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: border-box;
    flex: 1;
}

.hidden {
    display: none;
}

ul,
li {
    display: block;
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
}